.button{
    -fx-background-color: rgb(145, 145, 145);
    -fx-text-fill: rgb(224, 224, 224);
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 3px;
}

#videoSpeed{
    -fx-background-color: rgb(145, 145, 145);
    -fx-text-fill: rgb(224, 224, 224);
}

#bar{
    -fx-control-inner-background: rgb(142, 177, 116);
    -fx-accent: rgb(100, 136, 50);
}

#editores{
    -fx-background-color:rgb(53, 53, 53);
}

#lateralCenter{
    -fx-background-color:rgb(53, 53, 53);
}

#lalibreria{
    -fx-background-color:rgb(53, 53, 53);
}

#videos > .viewport{
    -fx-background-color: transparent;
}

#videos{
    -fx-background-color:rgb(53, 53, 53);
}

#scroller{
    -fx-background-color:rgb(53, 53, 53);
}

#editores{
    -fx-background-color:rgb(53, 53, 53);
}

.text{
    -fx-text-fill: rgb(224, 224, 224);
}

.title{
    -fx-text-fill: rgb(224, 224, 224);
    -fx-font-size: 25px;
    -fx-font-family: 'Times New Roman';
}